[user]
	name = Joe Downs
	email = joe@dwns.dev

[alias]
	ad = add
	apr = pull --rebase
	br = branch
	ci = commit
	co = checkout
	com = commit --signoff
	di = diff
	dif = diff
	dw = diff --word-diff
	fap = fetch --all --prune
	graph = log --graph --decorate --abbrev-commit --pretty=oneline --max-count=10
	grapha = log --graph --decorate --abbrev-commit --pretty=oneline --all --max-count=10
	graphaa = log --graph --decorate --abbrev-commit --pretty=oneline --all
	logs = log --topo-order --decorate --stat
	pr = pull --rebase
	st = status
	stat = status
	sts = status --short
        pop = stash pop
[core]
	editor = emacs -nw
	excludesFile = /home/joe/git/dotfiles/.gitignore
[commit]
	template = /home/joe/git/dotfiles/.gitmessage.txt
[init]
	defaultBranch = main
