[user]
	name = Joe Downs
	email = joedowns502@gmail.com

[alias]
	ad = add
	apr = pull --rebase
	pr = pull --rebase
	di = diff
	ci = commit
	st = status
	stat = status
	co = checkout
	fap = fetch --all --prune
	logs = log --topo-order --decorate --stat
	graph = log --graph --decorate --abbrev-commit --pretty=oneline --max-count=10
	grapha = log --graph --decorate --abbrev-commit --pretty=oneline --all
	dw = diff --word-diff
	com = commit --signoff
[core]
	editor = emacs -nw
	excludesFile = /home/joe/git/dotfiles/.gitignore
[commit]
	template = /home/joe/git/dotfiles/.gitmessage.txt
